@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .psychedelic-bg {
    background: linear-gradient(45deg,
          theme("colors.eclipse-blue.light"),
          theme("colors.eclipse-pink.light"),
          theme("colors.eclipse-yellow.light"),
          theme("colors.eclipse-green.light"));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded font-bold transition duration-300 ease-in-out;
  }
    .pixel-borders {
      box-shadow:
        -4px 0 0 0 theme("colors.eclipse-blue.dark"),
        4px 0 0 0 theme("colors.eclipse-blue.dark"),
        0 -4px 0 0 theme("colors.eclipse-blue.dark"),
        0 4px 0 0 theme("colors.eclipse-blue.dark");
    }
  
    .pixel-borders-inner {
      box-shadow:
        inset -4px 0 0 0 theme("colors.eclipse-blue.light"),
        inset 4px 0 0 0 theme("colors.eclipse-blue.light"),
        inset 0 -4px 0 0 theme("colors.eclipse-blue.light"),
        inset 0 4px 0 0 theme("colors.eclipse-blue.light");
    }
  
    .pixel-shadow {
      box-shadow: 8px 8px 0 0 theme("colors.eclipse-blue.dark");
    }
}
