@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .psychedelic-bg {
    @apply animate-gradient bg-gradient-to-r from-eclipse-blue-light via-eclipse-pink-light via-eclipse-yellow-light to-eclipse-green-light bg-[length:400%_400%];
  }
}

@layer components {
  .btn {
    @apply rounded px-4 py-2 font-bold transition duration-300 ease-in-out;
  }

  .pixel-borders {
    @apply shadow-[-4px_0_0_0_theme(colors.eclipse-blue.dark), 4px_0_0_0_theme(colors.eclipse-blue.dark), 0_-4px_0_0_theme(colors.eclipse-blue.dark), 0_4px_0_0_theme(colors.eclipse-blue.dark)];
  }

  .pixel-borders-inner {
    @apply shadow-[inset_-4px_0_0_0_theme(colors.eclipse-blue.light), inset_4px_0_0_0_theme(colors.eclipse-blue.light), inset_0_-4px_0_0_theme(colors.eclipse-blue.light), inset_0_4px_0_0_theme(colors.eclipse-blue.light)];
  }

  .pixel-shadow {
    @apply shadow-[8px_8px_0_0_theme(colors.eclipse-blue.dark)];
  }
}

@layer base {
  p {
    a {
      @apply text-eclipse-blue transition-colors duration-1000;
    }

    a:hover {
      @apply text-eclipse-blue-dark;
      text-decoration: underline;
    }
  }
}

.text-stroke {
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
